.aboutBeans {
    min-height: 485px;
    padding: 60px 0 70px 0;
    position: relative;
}

.aboutBeans::after {
    content: '';
    display: block;
    position: absolute;
    width: 240px;
    height: 0px;
    border: 1px solid #000000;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.aboutBeans__wrap {
    display: flex;
    column-gap: 80px;
}

.aboutBeans__descr {
    text-align: center;
    max-width: 346px;
}

.aboutBeans__descr h2 {
    margin-bottom: 20px;
}

.aboutBeans__descr p {
    margin-top: 25px;
}
